body {
background-color: #00f7ff;
color: rgb(245, 200, 200);
font-family: "Bai Jamjuree", sans-serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button {
background-color: #14fa87;
color: rgb(191, 255, 188);
font-family: "Bai Jamjuree", sans-serif;
}